.storyCardImage {
  width: 100%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.storyCardContent {
  padding: 16px;
  background-color: var(--color-scheme-2-foreground);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.storyCardAuthorContainer {
  display: flex;
  padding: 3px 0;
  margin-bottom: 12px;
  align-items: center;
}

.storyCardAuthor {
  font-weight: 600;
  font-size: 12px;
  margin-right: 8px;
  color: var(--color-scheme-2-text);
}

.storyCardPoint {
  margin-right: 8px;
}

.storyCardSaves {
  font-size: 12px;
  color: var(--color-scheme-2-text);
  margin-right: 5.23px;
}

.storyCardTitle {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-scheme-2-text);
  margin-bottom: 12px;


  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;

  overflow: hidden;
}

@media only screen and (min-width: 1440px) {
  .storyCardTitle {
    font-size: 26px;
  }
}

.storyCardButtonWrapper {
  display: flex;
  gap: 16px;
}

.storyCardButton {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--opacity-neutral-darkest-5);
  border: 1px solid var(--color-scheme-2-border);
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-scheme-2-text);
  transition: background-color var(--main-transition), border-color var(--main-transition), color  var(--main-transition);
}

.storyCardButton:hover,
 .storyCardButton:focus {
  border-color: var(--color-mantis-dark);
  color: var(--color-white);
  background-color: var(--color-mantis-dark);
}

.storyCardButton:active {
  border-color: var(--color-mantis-darker);
  color: var(--color-white);
  background-color: var(--color-mantis-darker);
}

@media only screen and (min-width: 1440px) {
  .storyCardButton {
    font-size: 20px;
  }
}

.storyCardSaveButton {
  display: flex;
  background-color: var(--opacity-neutral-darkest-5);
  border: 1px solid var(--color-scheme-2-border);
  border-radius: 6px;
  padding: 12px;
  transition: background-color var(--main-transition), border-color var(--main-transition), color  var(--main-transition);
}

:global(.dark) .storyCardSaveButton svg {
  filter: invert(1) brightness(2);
  transition: filter 300ms ease;
}

:global(.dark) .storyCardSaveButton:hover svg {
  filter: none;
}

.storyCardSaveButton:hover,
.storyCardSaveButton:focus,
.storyCardSaveButtonActive {
  border-color: var(--color-mantis-dark);
  color: var(--color-white);
  background-color: var(--color-mantis-dark);
}

.storyCardSaveButton:active {
 border-color: var(--color-mantis-darker);
  color: var(--color-white);
  background-color: var(--color-mantis-darker);
}

.storyCardSaveButtonActive:hover {
  background-color: var(--color-mantis-lighter);
}