.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  width: 100%;
  border-radius: 6px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--color-mantis-dark);
  color: var(--color-white);
  transition:
    background-color var(--main-transition),
    transform var(--main-transition),
    border-color var(--main-transition);
}

.button:hover,
.button:focus {
  color: var(--color-scheme-2-text);
  background-color: var(--color-mantis-lighter);
  border-color: var(--color-mantis-dark);
}

@media only screen and (min-width: 768px) {
  .button {
    padding: 12px;
    width: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .button {
    padding: 9px 12px;
    font-size: 20px;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.fullWidthOnMobile {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .fullWidthOnMobile {
    width: 133px;
  }
}

@media only screen and (min-width: 1440px) {
  .fullWidthOnMobile {
    width: 160px;
  }
}
