.footer {
  padding: 27px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media only screen and (min-width: 1440px) {
.footer {
 padding: 24px 0;
}
}

.text {
  font-size: 12px;
  color: var(--color-scheme-1-text);
  text-align: center;
}

@media only screen and (min-width: 1440px) {
.text {
  font-size: 16px;
}
}