.active {
  border-bottom: 1px solid var(--color-scheme-1-border);
}
.wraperAuth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}
.blockLoginRegister {
  padding: 12px 24px;
  width: 322px;
  height: 48px;
  text-align: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}
