.header{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 18px 0px;
}

.container {
  width: 100%;
  padding: 0 64px;
}
.content{
width: 121px;
height: 35px;
background-color: blue;
}
@media(max-width: 768px) {
  .container {
  padding: 0 32px;
}
}
@media(max-width: 375px) {
  .container {
  padding: 0 20px;
}
}