.storiesList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .storiesList {
    flex-direction: row;
  }

  .storiesList > * {
    flex: 0 0 calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .storiesList > * {
    flex: 0 0 calc((100% - 48px) / 3);
  }
}

.storiesLoadMore {
  margin: 40px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  width: 100%;
  border-radius: 6px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--color-mantis-dark);
  color: var(--color-white);
  transition:
    background-color var(--main-transition),
    transform var(--main-transition),
    border-color var(--main-transition);
}

.storiesLoadMore:hover,
.storiesLoadMore:focus {
  cursor: pointer;
  color: var(--color-scheme-2-text);
  background-color: var(--color-mantis-lighter);
  border-color: var(--color-mantis-dark);
}

@media only screen and (min-width: 768px) {
.storiesLoadMore {
  padding: 12px;
  width: auto;
}
}

@media only screen and (min-width: 1440px) {
.storiesLoadMore {
  padding: 9px 12px;
  font-size: 20px;
}
}

.storiesLoadMore:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}