/* --- Base Styles --- */
.footer {
  background-color: var(--color-scheme-2-foreground);
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_wrapper {
  padding: 0 20px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-weight: 500;
  font-size: 17px;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-bottom: 40px;
}

.logo img {
  transition: filter 0.4s ease;
}

:global(.dark) .logo img {
  filter: invert(1) brightness(2);
}

.logo_and_social_wrapper {
  margin-bottom: 40px;
}

.socialList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialItem {
  display: flex;
  padding: 4px;
}

.socialList a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: transform var(--main-transition);
}

.socialList a:hover,
.socialList a:focus {
  transform: scale(1.2);
}

.socialIcon {
  width: 24px;
  height: 24px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 16px;
}

.nav a {
  padding: 0 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: border var(--main-transition), background-color var(--main-transition);
}

.nav a:hover,
.nav a:focus {
  border: 1px solid var(--color-scheme-2-text);
}

.nav a:focus-visible,
.nav a:active {
  background-color: var(--color-neutral-lighter);
}

.copyright {
  position: relative;
  width: 100%;
  margin-top: 56px;
  font-size: 12px;
  text-align: center;
}

.copyright::before {
  content: '';
  position: absolute;
  top: -32px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-scheme-2-border);
}

/* --- Tablet styles (min-width: 768px) --- */
@media only screen and (min-width: 768px) {
  .footer_wrapper {
    padding: 0 32px;
  }

  .logo {
    margin-bottom: 0;
  }

  .logo_and_social_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .socialList {
    gap: 12px;
  }

  .nav {
    flex-direction: row;
    gap: 32px;
  }
}

/* --- Desktop styles (min-width: 1440px) --- */
@media only screen and (min-width: 1440px) {
  .footer_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 64px;
  }

  .logo_and_social_wrapper {
    display: contents;
    margin-bottom: 0;
  }

  .logo {
    grid-column: 1 / 2;
    justify-self: start;
    margin-bottom: 0;
  }

  .socialList {
    grid-column: 2 / 3;
    justify-self: center;
  }

  .nav {
    grid-column: 3 / 4;
    justify-self: end;
    font-size: 18px;
  }

  .copyright {
    grid-column: 1 / -1;
    font-size: 16px;
  }
}